* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin: auto;
  padding: 10px 0px;
  position: absolute;
  top: 0px;
  z-index: 5;
}

header .logo {
  margin-right: auto;
  font-size: xx-large;
  background-image: radial-gradient(
    circle,
    #ffffff 0%,
    #63ffd1 50%,
    #bf9dff 75%,
    #ffea22 90%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav_link li {
  display: inline-block;
  padding: 0px 15px;
}

.nav_link li a {
  font-size: 17px;
  color: #fff;
}

.header_btn button {
  border-radius: 12px;
  padding: 10px 20px;
  background-color: #fff;
  border: none;
}

/* Banner */
#banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  width: 100%;
}

.banner__content {
  margin-top: 200px;
  width: 40%;
}

.banner_btn button {
  background-color: #965cff;
  padding: 10px 25px;
  border-radius: 12px;
  margin-top: 20px;
  color: #fff;
  border: none;
}

.banner_btn i {
  color: black;
}

.banner__content h1 {
  font-size: 46px;
  margin-bottom: 20px;
}

.banner_image_item {
  margin-top: 50px;
  width: 90%;
}

.banner_images .box_price,
.banner_images .box_price2 {
  width: 300px;
  height: 113px;
  padding: 20px;
  background-color: #ffffff;
  color: #333;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.banner_images {
  position: relative;
}

.banner_images .box_price {
  position: absolute;
  top: 30px;
  left: 1150px;
}

.banner_images .box_price2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 450px;
  left: 80px;
  transform: translateX(-40%);
}

.banner_images .box_price .box_price-title {
  font-size: 12px;
  margin-bottom: 8px;
}

.banner_images .box_price2 .box_price-title {
  font-size: 12px;
  margin-bottom: 8px;
}

.banner_images .box_price .price {
  font-size: 20px;
  margin-bottom: 10px;
}

.banner_images .box_price2 .price {
  font-size: 20px;
  margin-bottom: 10px;
}

.box_unti,
.box_unti2 {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  gap: 10px;
}

.box_unti .box_unti-item1,
.box_unti2 .box_unti-item1 {
  content: " ";
  width: 10%;
  height: 10px;
  background-color: rgb(198, 198, 198);
  border-radius: 4px;
}

.box_unti .box_unti-item2,
.box_unti2 .box_unti-item2 {
  content: " ";
  width: 40%;
  height: 10px;
  background-color: rgb(198, 198, 198);
  border-radius: 4px;
}

.box_price-img {
  position: relative;
  top: 0px;
  left: -30px;
  transform: translateX(-100%);
}

.box_price-img img:nth-child(1) {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateX(-100%);
}

.box_price-img img:nth-child(2) {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateX(-50%);
}

.box_price-img img:nth-child(3) {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* Icon Container */
#icon-container {
  background-color: #0a0a0a;
  width: 100%;
  height: 119px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#icon-container .icon-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto;
}

#icon-container .icon-items img {
  width: 97px;
  height: 35px;
}

/* Info Container */

#info-container {
  width: 90%;
  padding: 80px 0px;
  margin: auto;
}

.info-content_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-content_box .info-col1 {
  width: 50%;
}

.info-content_box .info-col2 {
  width: 50%;
}

.info-content_box .info-col2 img {
  width: 700px;
  height: 550px;
}

.info-col1 .info-col1-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  width: 370px;
}

.info-col1 .info-col1-subtitle {
  width: 485px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  letter-spacing: 0.18px;
}

/* Money Container */
#money-container {
  width: 100%;
  padding: 80px 0px;
}

.money-content_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.money-col2 .money-col2-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  width: 335px;
}

.money-col2 .money-col2-subtitle {
  width: 427px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  letter-spacing: 0.18px;
}

.money-content_box .money-col1 img {
  width: 700px;
  height: 550px;
}

.money-content_box .money-col1 {
  width: 40%;
}

.money-content_box .money-col2 {
  width: 45%;
}

.money-list {
  list-style: none;
}

.money-list-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.money-list-item img {
  width: 30px;
  height: 30px;
}
